@use '../base/variables' as *; // Importa variables de SCSS

.profile-photo {
  width: 100%;
  max-width: 150px; /* Tamaño máximo en escritorio */
  border-radius: 50%; /* Forma circular */
  box-shadow: $box-shadow;
  margin: $padding-base auto;
  display: block;
  border: 3px solid $primary-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 600px) {
  .profile-photo {
    max-width: 100px; // Más pequeña en móviles
  }
}

@media (max-width: 400px) {
  .profile-photo {
    max-width: 70px; // Más pequeña en pantallas muy pequeñas
  }
}

.profile-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}