@use '../base/variables.scss' as variables; // Importa variables de color y tipografía
@use '../components/button';

.header {
  position: fixed; /* Fija el header en la parte superior */
  top: 0; /* Alinea el header al borde superior */
  left: 0; /* Alinea el header al borde izquierdo */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  background-color: variables.$primary-color; /* Color de fondo */
  color: variables.$footer-text-color; /* Color del texto */
  padding: variables.$padding-base; /* Espaciado interno */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  box-shadow: variables.$box-shadow; /* Sombra para destacar el header */
  display: flex; /* Asegura que los elementos dentro del header se alineen */
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto */

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: variables.$padding-small 0; /* Espaciado superior e inferior */
  }
}

.main-header {
  background-color: variables.$primary-color;
  padding: 15px 20px; /* Más grueso */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin: 0;
}


