@use '../base/variables.scss' as variables; // Importa variables de color y tipografía
@use '../components/button';

.header {
  background: variables.$primary-color;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.header .highlight {
  color: #ffeb3b;
}

.header .btn {
  @extend .btn; /* Usa el componente de botones */
}

.nav-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.nav-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-header .nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-header .nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main-header {
  background-color: variables.$primary-color;
  padding: 15px 20px; /* Más grueso */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin: 0;
}

.nav-bar .btn {
  @extend .btn; /* Usa el componente de botones */
}