// Colores
$primary-color: #f14a4a; // Color principal (rojo)
$secondary-color: #859D69; // Color secundario()
$accent-color: #333; // Color de acento (gris oscuro)
$text-color: #000; // Color del texto principal (negro)
$footer-text-color: #cccccc; // Un gris claro
$colorfondo: #FDF8F0;

// Tipografía
$font-family: 'Arial', sans-serif; // Fuente principal


// Espaciado
$padding-small: 8px; // Espaciado pequeño
$padding-base: 16px; // Espaciado base
$padding-large: 32px; // Espaciado grande

// Bordes y sombras
$border-radius: 5px; // Bordes redondeados
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra estándar